

/* Icônes sociales */
.oui a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: calc(1.5vw + 0.5rem); /* Taille de police fluide */
    border-radius: 50%;
    background-color: rgba(8, 8, 8, 0.5);
    color: #fff;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  
  .oui a:hover {
    background-color: #4070f4;
    transform: scale(1.1);
  }
  #skills i {
    height: 100px;
    width: 100px;
  }
  
  #portfolio img {
    height: 300px;
    object-fit: cover;
  }
  
  #about .img,
  #about img,
  .hire-text h2 {
    position: relative;
  }
  
  #about .img::before {
    content: '';
    left: 50%;
    width: 4px;
    position: absolute;
    height: calc(100% + 140px);
    background: var(--gray-color);
  }
  
  #about img,
  #about .hire-text h2 {
    width: 140px;
  }
  
  #about .hire-text h2 {
    height: 140px;
  }
  
  .social-icons a {
    width: 40px;
    height: 40px;
  }
  
  /* Section Skills */
  #skills {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  /* Titre de la section Skills */
  #skills h2 {
    font-size: 2.5rem; /* Taille du texte */
    font-weight: 700; /* Poids de la police */
    color: white; /* Couleur du texte */
    text-align: center; /* Alignement centré */
    margin-bottom: 10px; /* Ajout d'un espacement en bas */
    margin-left: 110px;
    margin-top: -50px;
  
    text-shadow: 2px 2px 15px rgba(0, 255, 0, 0.5); /* Vert semi-transparent */
  
  }
  
  /* Sous-titre (description) sous le titre */
  #skills h5 {
    font-size: 1.1rem; /* Taille du texte */
    color: #e6e9eb; /* Couleur grise */
    font-style: italic; /* Style italique */
    margin-top: 10px; /* Espacement en haut */
    text-align: center; /* Alignement centré */
    margin-bottom: 30px; /* Ajout d'un espacement en bas */
    margin-left: 210px;
  
  }
  
  /* Container de la row pour les cartes */
  #skills .row {
    display: flex;
    justify-content: space-between;
    gap: 30px; /* Espace entre les cartes */
  }
  .card {
    border-radius: 10px; /* Arrondir les coins */
    box-shadow: 0 2px 2px rgba(112, 213, 112, 0.655); /* Vert foncé avec plus de visibilité */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition douce */
    padding-left:10px;
  }
  
  .card:hover {
    transform: translateY(-10px); /* Effet de levée au survol */
    box-shadow: 0 24px 26px rgba(167, 170, 167, 0.5); /* Ombre plus forte au survol */
  }
  
  
  
  .card i {
    font-size: 3rem;
    padding: 1rem;
    border-radius: 50%;
  }
  
  .card h3 {
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
    text-shadow: 2px 2px 15px rgba(0, 255, 0, 0.5); /* Vert semi-transparent */
    padding-left: 10px;
  
  }
  
  .card p {
    font-size: 1rem;
    color: white;
    margin-top: 10px;
    line-height: 1.5;
    padding-left: 10px;
  }
  
  /* Styles supplémentaires pour les icônes */
  .fa-cart-shopping {
    background-color: #007bff;
  }
  
  .fa-laptop {
    background-color: #28a745;
  }
  
  .fa-mobile-screen-button {
    background-color: #ffc107;
  }